.block{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1em;
}

.chatinput{
    padding: 1em;
    width: 80%;
}

.inputbox{
    display:flex;
    align-items:center;
    justify-content:center;
}

.chatsendbutton{
    padding: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1em;
    color: aliceblue;
    margin-left: 1em;
    background-color: cadetblue;
}