.mainbar {
    position: sticky;
    top: 0px;
    background-color: rgb(64, 64, 64);
    width: 100%;
    z-index: 1000;
}

.barcontainer {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 65rem;
    height: 3em;
}

.brand {
    flex: 1;
    display: flex;
    align-items: center;
}

.brandtext{
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 0;
}

.navgroup{
    flex: 3;
    display: flex;
    align-items: center;
}

.navitems {
    flex: 1
}

.navitems > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navitem {
    position: relative;
}

.navitem > a {
  line-height: 3rem;
  color: #d4d4d4;
  padding: 0 1rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

.navitem > a > i {
  margin-left: .2rem;
}

.navitem:hover > a {
  color: #fff;
}

