.mainbar {
    position: sticky;
    top: 0px;
    background-color: rgb(64, 64, 64);
    width: 100%;
    z-index: 1000;
}

.mainbarcontainer {
    display: flex;
    position: relative;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 65rem;
    height: 3em;
}

.brand {
    flex: 1;
    display: flex;
    align-items: center;
}

.brandtext{
    color: #fff;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 0;
}

.navgroup{
    flex: 3;
    display: flex;
    align-items: center;
}

.navitems {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navitems > ul {
    all: unset;
}

.navitem {
    position: relative;
}

.navitem > a {
  line-height: 3rem;
  color: #d4d4d4;
  padding: 0 1rem;
  letter-spacing: 1px;
  font-size: .95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;
}

.navitem > a > i {
  margin-left: .2rem;
}

.navitem:hover > a {
  color: #fff;
}

.navlinkButton {
  background: none;
  border: none;
  color: #d4d4d4;
  padding: 0 1rem;
  font-size: 0.95rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 3rem;
  transition: 0.3s;
}

.navlinkButton:hover,
.navlinkButton[aria-expanded='true'] {
  color: #fff;
}

.submenu {
  position: absolute;
  background-color: #676767;
  padding: 0.5rem 0;
  list-style: none;
  top: 100%;
  left: 0;
  min-width: 10rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.submenu li a {
  display: block;
  padding: 0.5rem 1rem;
  color: #eee;
  text-decoration: none;
  transition: 0.2s;
}

.submenu li a:hover {
  background-color: #555;
  color: #fff;
}

